{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 5rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Appraisal Details
            </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                {% if appraisal.Status == 'Self Appraisal' and HOD_User == False %}
                <button class="btn btn-successs p-3 d-flex align-items-center" data-bs-toggle="modal"
                    data-bs-target="#Attachment" type="button"> <i class="las la-plus text-white"
                        style="font-size:15px;"></i> Upload Attachment
                </button>
                {% endif %}
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-3">
            <div class="col-md-3">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Appraisal Code</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{appraisal.Code}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-blue-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Current Quarter</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{appraisal.CurrentQuarter}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-green-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Status</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{appraisal.Status}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-orange-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-times"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Financial Year</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{appraisal.FinancialYear}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div id="accordion" class="accordion-style">
                    <div class="card mb-3">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Details
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="row g-3">
                                            <div class="col-md-3">
                                                <label class="form-label">Appraiser No</label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{appraisal.AppraiserNo}}" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label">Appraiser Name</label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{appraisal.AppraiserName}}" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label">Department Name</label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{appraisal.DepartmentName}}" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label">Total Targets</label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{appraisal.TotalTargets}}" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label">Total Targets Quarter 1</label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{appraisal.TotalTargetsQ1}}" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label">Total Targets Quarter 2 </label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{appraisal.TotalTargetsQ2}}" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label">Total Targets Quarter 3 </label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{appraisal.TotalTargetsQ3}}" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label">Total Targets Quarter 4 </label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{appraisal.TotalTargetsQ4}}" readonly>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">Appraisal Scores
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <table id="example"
                                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                            style="width:100%">
                                            <thead>
                                                <tr id="tops">
                                                    <th>Quarter</th>
                                                    <th>Target Description</th>
                                                    <th>Weighted Score</th>
                                                    <th>Self Appraisal Score</th>
                                                    <th>Supervisor Score</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for score in scores %}
                                                <tr>
                                                    <td>{{score.Quarter}}</td>
                                                    <td>{{score.TargetDescription}}</td>
                                                    <td>{{score.MaximumTargetScore}}</td>
                                                    <td>{{score.SelfAppraisalScore}}</td>
                                                    <td>{{score.SupervisorAppraisalScore}}</td>
                                                    <td>
                                                        {% if HOD_User == True and appraisal.Status == "Supervisor Appraisal" and score.Quarter == appraisal.CurrentQuarter %}
                                                        <button type="button" class="btn btn-success btn-icon-text"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#staticBackdrop{{score.Code}}">
                                                            Add Score
                                                        </button>
                                                        {% elif HOD_User == False and appraisal.Status == "Self Appraisal" and score.Quarter == appraisal.CurrentQuarter %}
                                                        <button type="button" class="btn btn-success btn-icon-text"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#staticBackdrop{{score.Code}}">
                                                            Add Score
                                                        </button>
                                                        {% endif %}
                                                        <div class="modal fade" id="staticBackdrop{{score.Code}}"
                                                            data-bs-backdrop="static" data-bs-keyboard="false"
                                                            tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                            aria-hidden="true" style="height:auto !important">
                                                            <div class="modal-dialog modal-dialog-scrollable">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="staticBackdropLabel">Appraisal Scores
                                                                        </h5>
                                                                        <button type="button"
                                                                            class="btn-close btn-close-white"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form class="myForm"
                                                                            action="{% url 'FnAppraisalScores' %}"
                                                                            method="post" novalidate>
                                                                            {% csrf_token %}
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden"
                                                                                        name="scoreScode"
                                                                                        value="{{score.Code}}">
                                                                                    <input type="hidden" name="myAction"
                                                                                        value="modify">
                                                                                    {% if appraisal.Status == 'Self Appraisal' %}
                                                                                    <input type="hidden"
                                                                                        name="selfAppraisal"
                                                                                        value="True">
                                                                                    {% elif appraisal.Status == 'Supervisor Appraisal' %}
                                                                                    <input type="hidden"
                                                                                        name="selfAppraisal"
                                                                                        value="False">
                                                                                    {% endif %}
                                                                                    <input type="hidden"
                                                                                        name="appraisalCode"
                                                                                        value="{{appraisal.Code}}">
                                                                                    <input type="hidden"
                                                                                        name="employeeNo"
                                                                                        value="{{score.EmployeeNo}}">
                                                                                    <input type="hidden" name="quarter"
                                                                                        value="{{appraisal.CurrentQuarter}}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label class="form-label">Score<span
                                                                                            class="text-danger">*</span></label>
                                                                                    <input type="text" name="score"
                                                                                        placeholder="0"
                                                                                        class="form-control">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                {% if appraisal.Status == 'Self Appraisal' and appraisal.CurrentQuarter == '4th Quarter' %}
                                                                                <div class="col-md-12">
                                                                                    <label class="form-label">Any
                                                                                        Recommend Training ?</label>
                                                                                    <textarea class="form-control"
                                                                                        name="recommendedTraining"
                                                                                        rows="3"></textarea>
                                                                                    <div class="form-text">Add any
                                                                                        recommended training</div>
                                                                                </div>
                                                                                {% elif appraisal.Status == 'Supervisor Appraisal' and appraisal.CurrentQuarter == '4th Quarter' %}
                                                                                <div class="col-md-12">
                                                                                    <label class="form-label">Any
                                                                                        Recommend Training ?</label>
                                                                                    <textarea class="form-control"
                                                                                        name="recommendedTraining"
                                                                                        rows="3"></textarea>
                                                                                    <div class="form-text">Add any
                                                                                        recommended training</div>
                                                                                </div>
                                                                                {% endif %}
                                                                            </div>
                                                                            <button type="submit"
                                                                                class="btn btn-success my-3 w-100">Submit</button>
                                                                        </form>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">My
                                    Attachments</button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordion">
                            <div class="row m-2">
                                {% for data in file %}
                                <div class="col-lg-4 col-xl-3">
                                    <div class="file-man-box">
                                        <div class="file-img-box"><img src="../../static/img/logo/f1.png" alt="icon">
                                        </div>
                                        <form action="{% url 'getDocs' data.No_ data.Table_ID %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="attachmentID" value="{{data.AuxiliaryIndex2}}">
                                            <input type="hidden" name="File_Name" value="{{data.File_Name}}">
                                            <input type="hidden" name="File_Extension" value="{{data.File_Extension}}">
                                            <button class="file-download mx-1"><i
                                                    class="fa fa-download text-success"></i></button>
                                        </form>
                                        <div class="file-man-title">
                                            <h5 class="mb-0 text-overflow">
                                                {{data.File_Name}}.{{data.File_Extension}}</h5>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <p class="text-danger p-4">
                                    You have not uploaded any attachments <i class="las la-file-download"></i>
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if appraisal.Status == "Supervisor Appraisal" and appraisal.CurrentQuarter != '4th Quarter' and HOD_User == True %}
        <div class="row">
            <div class="col-md-12">
                <div class="myForm my-3">
                    <form action="{% url 'FnMovetoNextQuarter' appraisal.Code %}" method="POST"
                        style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Move to Next Quarter </button>
                    </form>
                </div>
            </div>
        </div>
        {% elif appraisal.Status == "Self Appraisal" and appraisal.CurrentQuarter != '1st Quarter' and HOD_User == False %}
        <div class="row">
            <div class="col-md-12">
                <div class="myForm my-3">
                    <form action="{% url 'FnsendforReview' appraisal.Code %}" method="POST"
                        style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Submit For Review </button>
                    </form>
                    <form action="{% url 'FnSendforFurtherReview' appraisal.Code %}" method="POST" class="myForm"
                        style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Send For Further Review</button>
                    </form>
                </div>
            </div>
        </div>
        {% elif appraisal.Status == "Self Appraisal" and appraisal.CurrentQuarter == '1st Quarter' and HOD_User == False %}
        <div class="row">
            <div class="col-md-12">
                <div class="myForm my-3">
                    <form action="{% url 'FnsendforReview' appraisal.Code %}" method="POST"
                        style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Submit For Review </button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>

</section>
<!-- Modal -->
<div class="modal fade" id="Attachment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Attachment</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'EmployeeAppraisalAttachment' appraisal.Code %}" method="post" class="myForm"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" mb-3">
                        <label class="form-label">Attachments </label>
                        <input class="form-control" name="attachment" type="file" multiple>
                    </div>
                    <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $('.LargeDatepicker').Zebra_DatePicker({
                direction: -1,
                format: 'd-m-Y',
                show_week_number: 'Wk',

            });
        }, 100);
        var utc = new Date().toJSON().slice(0, 10).replace(/-/g, '-');
        var x = document.getElementById("Expenditure").max = utc;
        var text = document.getElementById("Expenditure").getAttribute("max");
    })
</script>

{% endblock %}