<!--alert -->
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>
    iziToast.success({
        title: 'Yeah!',
        backgroundColor: '#134326',
        titleColor: 'White',
        theme: 'dark',
        timeout: 2500,
        drag: true,
        overlay: false,
        displayMode: 'once',
        id: 'inputs',
        zindex: 999,
        position: 'bottomRight',
        message: '{{message}}'
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>
    iziToast.error({
        backgroundColor: '#e51e25',
        iconColor: 'white',
        titleColor: 'white',
        messageColor: 'white',
        progressBarColor: 'white',
        progressBarEasing: 'linear',
        theme: 'dark',
        timeout: 2500,
        drag: true,
        overlay: false,
        displayMode: 'once',
        id: 'inputs',
        zindex: 999,
        position: 'bottomRight',
        message: '{{message}}'
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>
    iziToast.info({
        backgroundColor: '#6c8aaf',
        iconColor: 'white',
        titleColor: 'white',
        messageColor: 'white',
        progressBarColor: 'white',
        progressBarEasing: 'linear',
        theme: 'dark',
        timeout: 2500,
        drag: true,
        overlay: false,
        displayMode: 'once',
        id: 'inputs',
        zindex: 999,
        position: 'bottomRight',
        message: '{{message}}'
    });
</script>
{% endif %}
{% endfor %}
{% endif %}