{% extends 'offcanvas.html' %}
{% block title %}
PETTY CASH SURRENDER
{% endblock %}

{% block head %}

{% endblock %}
{% block main %}
<script src="../../static/css/boot/js/vendor.bundle.base.js"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem;">
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card data-card">
                    <h1 class="heading display-5 pb-3"><img src="../../static/img/logo/2.png" width="70px"
                            class="img-fluid"> Petty Cash Surrender
                        <span>
                            <button type="submit" class="button-87" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" style="float: right;outline: none;border: none;"> <i
                                    class="las la-plus text-white" style="font-size:15px;"></i> New Surrender
                            </button>
                        </span>
                    </h1>
                    <div class="m-4">
                        <ul class="nav nav-tabs table-tabs d-flex" id="myTab">
                            <li class="nav-item flex-fill">
                                <a href="#s-open" class="nav-link" data-bs-toggle="tab">Open
                                    <span class="ml-1 badge rounded-pill olive_icon">
                                        {{res|length}}
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#pending" class="nav-link" data-bs-toggle="tab">Pending Approval
                                    <span class="ml-1 badge rounded-pill olive_icon">
                                        {{pending|length}}
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#s-approve" class="nav-link active" data-bs-toggle="tab">Appproved
                                    <span class="ml-1 badge rounded-pill olive_icon">
                                        {{response|length}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade" id="s-open">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Imprest No.</th>
                                                <th>Date</th>
                                                <th>Issue Doc No.</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="open_request_date{{res.No_}}">{{res.Date}}</td>
                                                <td>{{res.Petty_Cash_Issue_Doc_No}}</td>
                                                <td>{{res.Status}}</td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#open_request_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    })
                                                </script>
                                                <td>
                                                    <a href="{% url 'PettySurrenderDetails' res.No_  %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pending">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Imprest No.</th>
                                                <th>Date</th>
                                                <th>Issue Doc No.</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in pending %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="open_request_date{{res.No_}}">{{res.Date}}</td>
                                                <td>{{res.Petty_Cash_Issue_Doc_No}}</td>
                                                <td>{{res.Status}}</td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#open_request_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    })
                                                </script>
                                                <td>
                                                    <a href="{% url 'PettySurrenderDetails' res.No_  %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="s-approve">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Imprest No.</th>
                                                <th>Date</th>
                                                <th>Issue Doc No.</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in response %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="open_request_date{{res.No_}}">{{res.Date}}</td>
                                                <td>{{res.Petty_Cash_Issue_Doc_No}}</td>
                                                <td>{{res.Status}}</td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#open_request_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    })
                                                </script>
                                                <td>
                                                    <a href=""
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Raise Petty Cash Surrender
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" action="" method="post" novalidate>
                        {% csrf_token %}
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="" class="form-label">Petty Cash Issue Document No.
                                    </label>
                                    <select class="form-select" name="imprestIssueDocNo" required>
                                        <option selected disabled value="0">Select Petty Cash No.</option>
                                        {% for res in app %}
                                        <option value="{{res.No_}}">{{res.No_}}-{{res.Payment_Narration}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="myAction" value="insert">
                                    <input type="hidden" name="surrenderNo" value="">
                                </div>
                            </div>
                            <button type="submit" class="button-88 my-3 w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}